########################################
# Editor / IDE
########################################
/.vscode/

########################################
# MATLAB
########################################
*.asv
*.mex*
*.fig
*.mat

########################################
# Doxygen
########################################
/docs/html/
/docs/latex/

########################################
# AI
########################################
CLAUDE.md
/.claude/

########################################
# Other
########################################
/public/
/legacies/
/experimentals/
/toolboxes/

/+physics/**/ex*/